/* Header Container */

.menu {
  display: flex;
}

.menu-item {
  width: 25%;
  background-color: gold;
  transition: all 0.6s ease;
}

.menu-item:hover {
  width: 30%;
  background-color: crimson;
}

.menu-link {
  display: block;
  padding: 1em;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #555;
}

.menu-link:hover {
  color: white;
}

/* Search Container */
.search-form {
  display: flex;
  height: 40px;
}

.search-form input[type="search"] {
  flex: 1 0 auto;
  margin-right: 16px;
  font-size: 1rem;
  border-radius: 0.3em;
  border-style: none;
}

.search-form input[type="submit"] {
  width: 4em;
  background-color: gold;
  border-radius: 5px;
  border-style: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* Bullet Container */

.list {
  display: flex;
  margin-bottom: 1em;
  font-size: 1.5rem;
}

.list:before {
  content: "😀";
}

/* Card Container */

.card-item {
  display: flex;
  font-size: 1rem;
  margin-bottom: 1em;
}

.card-image {
  width: 50px;
  height: 50px;
  margin-right: 0.5em;
  border: 2px solid black;
  border-radius: 50%;
  background-color: gold;

  background-image: url(images/ilbuni.png);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}
