/* Header Section */

.header-container {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  background-color: #eee;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: #555;
}

.search-email-box {
  display: flex;
}

.search-form {
  display: flex;
}

.search-form [type="search"] {
  border-style: none;
  border-radius: 5px;
  outline: none;
}

.search-form [type="submit"] {
  height: 100%;
  padding: 0 1em;
  margin: 0 1rem 0 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  background-color: gold;
}

.email-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nav Section */

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  width: 25%;
  background-color: gold;
  cursor: pointer;
  transition: all 0.6s ease;
}

.nav-link {
  display: block;
  padding: 1em;
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  text-align: center;
}

.nav-item:hover {
  width: 30%;
  background-color: crimson;
}

/* Content Section*/

.content-container {
  display: flex;
  height: auto;
  font-size: 0.8rem;
}

/* bullet Section */

.bullet-container {
  width: 20%;

  background-color: white;
}

@media (max-width: 600px) {
  /* */
  .bullet-container {
    display: none;
  }
}

.bullet-container {
  padding: 1.5em;
}

.bullet-wrap {
  margin-bottom: 2em;
}

.bullet-item:before {
  content: "😊";
}

.bullet-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.bullet-text {
  margin-left: 5px;
}

/* User Section */

.user-list {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.8em;
}

.user-icon {
  width: 50px;
  height: 50px;
  margin-right: 0.5em;
  background-image: url(ilbuni.png);
  background-size: 150%;
  background-color: gold;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  border-radius: 50%;
  flex-shrink: 0;
}

.user-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Card Section */
.card-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.05);
}

@media (max-width: 600px) {
  .card-container {
    width: 100%;
  }
}

.card-item {
  display: flex;
  padding: 1em;
  margin-bottom: 2em;
  flex-direction: column;
}

@media (min-width: 600.1px) {
  /* */
  .card-item {
    width: 50%;
  }
}

@media (min-width: 900px) {
  /* */
  .card-item {
    width: 33.3333%;
  }
}

.item-image {
  padding-bottom: 60%;
  background-color: rgba(0, 0, 0, 0.3);
}

.item-text {
  padding: 1rem;
  font-size: 0.8rem;
  flex: 1 0 auto;
  background-color: white;
}

/* Message Section */

.message-container {
  width: 20%;
  padding: 1.5em;
  font-size: 0.9rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 600px) {
  /* */
  .message-container {
    display: none;
  }
}

.message-item {
  display: flex;
  margin-bottom: 1.5em;
}

/* Footer Section */
.footer-container {
  display: flex;
  padding: 1em;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
