/*
.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "header header header"
    "   a    main    b   "
    "   .     .      .   "
    "footer footer footer";
}

.header {
  grid-area: header;
}

.side-a {
  grid-area: a;
}

.main {
  grid-area: main;
}

.side-b {
  grid-area: b;
}

.footer {
  grid-area: footer;
}
*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, auto));
  grid-template-rows: repeat(5, minmax(50px, auto));
  grid-auto-flow: row;
  /* grid-auto-flow: column; */
  /* grid-auto-flow: dense; */
  /* grid-auto-flow: row dense; */
  /* grid-auto-flow: column dense; */
}

.grid-item:nth-child(2) {
  /* B */
  grid-column: auto / span 3;
}

.grid-item:nth-child(5) {
  /* E */
  grid-column: auto / span 3;
}

.grid-item:nth-child(7) {
  /* G */
  grid-column: auto / span 2;
}
